spring:
  application:
    name: DATN
  datasource:
    url: jdbc:mysql://localhost:3306/DATN?useSSL=false&serverTimezone=UTC
    username: root
    password: 060802
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true